https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data/csse_covid_19_daily_reports

Write a Python program to display first 5 rows from COVID-19 dataset. Also print the dataset information and check the missing values.

In [21]:
import pandas as pd
covid_data=pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv")
covid_data

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515
...,...,...,...,...,...,...,...,...
271,NaN,Guernsey,2020-03-17T18:33:03,0,0,0,49.4500,-2.5800
272,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100
273,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000
274,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560
275,NaN,occupied Palestinian territory,2020-03-11T20:53:02,0,0,0,31.9522,35.2332

In [4]:
covid_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  126 non-null    object
 1   Country/Region  276 non-null    object
 2   Last Update     276 non-null    object
 3   Confirmed       276 non-null    int64
 4   Deaths          276 non-null    int64
 5   Recovered       276 non-null    int64
 6   Latitude        276 non-null    float64
 7   Longitude       276 non-null    float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.4+ KB

In [6]:
covid_data.isna().sum()

Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

Get the latest number of confirmed, deaths, recovered and active cases of Novel Coronavirus Country wise

In [7]:
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

In [9]:
covid_data['Active Cases']=covid_data['Confirmed']-covid_data['Deaths']-covid_data['Recovered']
covid_data['Active Cases']

0       8685
1      26062
2       9792
3      10187
4       9166
       ...
271        0
272        0
273        0
274        0
275        0
Name: Active Cases, Length: 276, dtype: int64

In [13]:
result=covid_data.groupby('Country/Region')['Confirmed','Deaths','Recovered','Active Cases'].sum().reset_index()
result

C:\Users\suraj.jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

,Country/Region,Confirmed,Deaths,Recovered,Active Cases
0,Afghanistan,20,0,1,19
1,Albania,55,1,0,54
2,Algeria,60,4,12,44
3,Andorra,39,0,1,38
4,Antigua and Barbuda,1,0,0,1
...,...,...,...,...,...
154,Uruguay,29,0,0,29
155,Uzbekistan,10,0,0,10
156,Venezuela,33,0,0,33
157,Vietnam,66,0,16,50
158,occupied Palestinian territory,0,0,0,0

rite a Python program to get the latest number of confirmed deaths and recovered people of Novel Coronavirus (COVID-19) cases Country/Region - Province/State wise.

In [15]:
data=covid_data.groupby(['Country/Region','Province/State'])['Confirmed','Deaths','Recovered'].max()
data

C:\Users\suraj.jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                             Confirmed  Deaths  Recovered
Country/Region Province/State
Australia      Australian Capital Territory          2       0          0
               From Diamond Princess                 0       0          0
               New South Wales                     210       4          4
               Northern Territory                    1       0          0
               Queensland                           78       0          8
...                                                ...     ...        ...
US             Wyoming                              11       0          0
United Kingdom Cayman Islands                        1       1          0
               Channel Islands                       6       0          0
               Gibraltar                             3       0          1
               United Kingdom                     1950      55         52

[126 rows x 3 columns]

Write a Python program to get the Chinese province wise cases of confirmed, deaths and recovered cases of Novel Coronavirus (COVID-19)

In [16]:
c_data=covid_data[covid_data['Country/Region']=='China']
c_data

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Active Cases
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707,8685
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244,49
14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140,1
16,Zhejiang,China,2020-03-17T02:13:21,1232,1,1216,29.1832,120.0934,15
19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088,0
20,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264,0
22,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221,0
24,Shandong,China,2020-03-17T00:33:02,761,7,746,36.3427,118.1498,8
28,Jiangsu,China,2020-03-15T01:53:02,631,0,631,32.9711,119.4550,0
29,Chongqing,China,2020-03-15T03:53:04,576,6,570,30.0572,107.8740,0
30,Sichuan,China,2020-03-17T08:33:02,540,3,520,30.6171,102.7103,17
31,Heilongjiang,China,2020-03-17T01:33:02,482,13,456,47.8620,127.7615,13
32,Beijing,China,2020-03-17T10:53:03,456,8,369,40.1824,116.4142,79
37,Shanghai,China,2020-03-17T02:13:20,358,3,325,31.2020,121.4491,30
41,Hebei,China,2020-03-13T11:09:03,318,6,310,38.0428,114.5149,2
42,Fujian,China,2020-03-11T02:18:14,296,1,295,26.0789,117.9874,0
46,Guangxi,China,2020-03-17T00:33:02,253,2,248,23.8298,108.7881,3
47,Shaanxi,China,2020-03-17T10:53:03,246,3,236,35.1917,108.8701,7
64,Yunnan,China,2020-03-16T23:53:02,176,2,172,24.9740,101.4870,2
67,Hainan,China,2020-03-16T14:38:45,168,6,161,19.1959,109.7453,1
68,Hong Kong,China,2020-03-17T10:13:11,162,4,88,22.3000,114.2000,70
72,Guizhou,China,2020-03-17T07:33:03,147,2,144,26.8154,106.8748,1
76,Tianjin,China,2020-03-15T18:20:18,136,3,133,39.3054,117.3230,0
77,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,40
78,Shanxi,China,2020-03-13T11:09:03,133,0,133,37.5777,112.2922,0
80,Liaoning,China,2020-03-17T12:13:13,125,1,120,41.2956,122.6085,4
90,Jilin,China,2020-03-16T00:22:10,93,1,92,43.6661,126.1923,0
95,Xinjiang,China,2020-03-11T02:18:14,76,3,73,41.1129,85.2401,0
96,Inner Mongolia,China,2020-03-16T14:38:45,75,1,73,44.0935,113.9448,1
97,Ningxia,China,2020-03-16T14:38:45,75,0,75,37.2692,106.1655,0
171,Qinghai,China,2020-03-11T02:18:14,18,0,18,35.7452,95.9956,0
179,Macau,China,2020-03-17T04:32:18,12,0,10,22.1667,113.5500,2
247,Tibet,China,2020-03-11T02:18:14,1,0,1,31.6927,88.0924,0

In [17]:
c_data=c_data[['Province/State','Confirmed','Deaths','Recovered']]
c_data

     Province/State  Confirmed  Deaths  Recovered
0             Hubei      67799    3111      56003
12        Guangdong       1364       8       1307
14            Henan       1273      22       1250
16         Zhejiang       1232       1       1216
19            Hunan       1018       4       1014
20            Anhui        990       6        984
22          Jiangxi        935       1        934
24         Shandong        761       7        746
28          Jiangsu        631       0        631
29        Chongqing        576       6        570
30          Sichuan        540       3        520
31     Heilongjiang        482      13        456
32          Beijing        456       8        369
37         Shanghai        358       3        325
41            Hebei        318       6        310
42           Fujian        296       1        295
46          Guangxi        253       2        248
47          Shaanxi        246       3        236
64           Yunnan        176       2        172
67           Hainan        168       6        161
68        Hong Kong        162       4         88
72          Guizhou        147       2        144
76          Tianjin        136       3        133
77            Gansu        133       2         91
78           Shanxi        133       0        133
80         Liaoning        125       1        120
90            Jilin         93       1         92
95         Xinjiang         76       3         73
96   Inner Mongolia         75       1         73
97          Ningxia         75       0         75
171         Qinghai         18       0         18
179           Macau         12       0         10
247           Tibet          1       0          1

Get the latest country wise deaths cases of Novel Coronavirus

In [22]:
data1=covid_data.groupby('Country/Region')['Confirmed','Deaths','Recovered']

C:\Users\suraj.jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [23]:
result=data1[data1['Deaths']>10][['Country/Region','Deaths']]
result

IndexError: Column(s) ['Confirmed', 'Deaths', 'Recovered'] already selected

List countries with all cases of Novel Coronavirus died

In [6]:
data=covid_data.groupby('Country/Region')['Confirmed','Deaths','Recovered'].sum()
data

C:\Users\suraj.jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                                Confirmed  Deaths  Recovered
Country/Region
Afghanistan                            20       0          1
Albania                                55       1          0
Algeria                                60       4         12
Andorra                                39       0          1
Antigua and Barbuda                     1       0          0
...                                   ...     ...        ...
Uruguay                                29       0          0
Uzbekistan                             10       0          0
Venezuela                              33       0          0
Vietnam                                66       0         16
occupied Palestinian territory          0       0          0

[159 rows x 3 columns]

In [15]:
result=data[data['Confirmed']==data['Deaths']]
result

                                Confirmed  Deaths  Recovered
Country/Region
Guernsey                                0       0          0
Jersey                                  0       0          0
Puerto Rico                             0       0          0
Republic of the Congo                   0       0          0
Sudan                                   1       1          0
occupied Palestinian territory          0       0          0

In [14]:
#result=result[['Country/Region','Confirmed','Deaths']]

result=result[result['Confirmed']>0]
result

Empty DataFrame
Columns: [Confirmed, Deaths, Recovered]
Index: []

Write a Python program to get the top 10 countries data (Last Update, Country/Region, Confirmed, Deaths, Recovered) of Novel Coronavirus (COVID-19)

In [16]:
import pandas as pd
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-18-2020.csv', usecols = ['Last Update', 'Country/Region', 'Confirmed', 'Deaths', 'Recovered'])

In [17]:
result=covid_data.groupby('Country/Region').max().sort_values(by='Confirmed',ascending=False)
result

                               Last Update  Confirmed  Deaths  Recovered
Country/Region
China                  2020-03-18T12:13:09      67800    3122      56927
Italy                  2020-03-18T17:33:05      35713    2978       4025
Iran                   2020-03-18T12:33:02      17361    1135       5389
Spain                  2020-03-18T13:13:13      13910     623       1081
Germany                2020-03-18T19:33:02      12327      28        105
...                                    ...        ...     ...        ...
Guernsey               2020-03-17T18:33:03          0       0          0
Jersey                 2020-03-17T18:33:03          0       0          0
Puerto Rico            2020-03-17T16:13:14          0       0          0
Republic of the Congo  2020-03-17T21:33:03          0       0          0
The Gambia             2020-03-18T14:13:56          0       0          0

[163 rows x 4 columns]

Write a Python program to visualize the state/province wise death cases of Novel Coronavirus (COVID-19) in USA

In [ ]:
pip install plotly

In [23]:
import pandas as pd
#import plotly.express as px
covid_data= pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

In [26]:
us_data = covid_data[covid_data['Country/Region']=='US'].drop(['Country/Region','Latitude', 'Longitude'], axis=1)

In [27]:
us_data = us_data[us_data.sum(axis = 1) > 0]
us_data = us_data.groupby(['Province/State'])['Deaths'].sum().reset_index()
us_data_death = us_data[us_data['Deaths'] > 0]

In [28]:
us_data_death

    Province/State  Deaths
4       California      12
5         Colorado       2
10         Florida       6
11         Georgia       1
16        Illinois       1
17         Indiana       2
19          Kansas       1
20        Kentucky       1
21       Louisiana       4
31          Nevada       1
33      New Jersey       3
35        New York      13
40          Oregon       1
44  South Carolina       1
45    South Dakota       1
47           Texas       1
51        Virginia       2
52      Washington      55