In [1]:
import re
import pandas as pd
import numpy as np

In [2]:
dataset= pd.read_csv("Dataset.csv")
dataset.head()

,Country(or dependent territory),Population,% of worldpopulation,Total Area,Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],"1,394,350,000",18.2%,"9,596,961 km2 (3,705,407 sq mi)[g] (3rd/4th)",2.8%[h],$14.092 trillion[16] (2nd),"$10,087[16] (71st)"
1,India[Note 3],"1,337,630,000",17.5%,"3,287,263[5] km2 (1,269,219 sq mi)[d] (7th)",9.6,$2.848 trillion[16] (6th),"$2,134[16] (133rd)"
2,United States[Note 4],"327,918,000",4.28%,"3,796,742 sq mi (9,833,520 km2)[8] (3rd/4th)",6.97,$19.390 trillion[11] (1st),"$59,501[11] (7th)"
3,Brazil,"209,650,000",2.74%,"8,515,767 km2 (3,287,956 sq mi) (5th)",0.65,$2.139 trillion[7] (9th),"$10,224[7] (65th)"
4,Pakistan,"202,169,000",2.64%,"881,913 km2 (340,509 sq mi)[a][18] (33rd)",2.86,$304.4 billion[21] (42nd),"$1,629[22] (145th)"

# Replace the headings
We first begin by replacing the headings of the columns such that they reflect the data in them better. We change the text for the first column to 'Country', the third column to 'Percentage of World Population' and fourth column to 'Total Area (km2)'.

In [4]:
dataset.rename(columns={'Country(or dependent territory)': 'Country'}, inplace=True)
dataset.rename(columns={'% of worldpopulation': 'Percentage of World Population'}, inplace=True)
dataset.rename(columns={'Total Area': 'Total Area (km2)'},inplace=True)

# Analysing the dataset
We see that almost all columns have cells which have data inside parentheses and square brackets which is not required. Thus, we can first remove all paranthesis, square brackets and the content inside them.

In [9]:
for column in dataset.columns:
    dataset[column]= dataset[column].str.replace(r"\(.*\)", "") #This removed all instances of where there were parentheses with words in them
    dataset[column]= dataset[column].str.replace(r"\(.*\)", "")

In [10]:
dataset.head()

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],"1,394,350,000",18.2%,"9,596,961 km2",2.8%[h],$14.092 trillion[16],"$10,087[16]"
1,India[Note 3],"1,337,630,000",17.5%,"3,287,263[5] km2",9.6,$2.848 trillion[16],"$2,134[16]"
2,United States[Note 4],"327,918,000",4.28%,"3,796,742 sq mi",6.97,$19.390 trillion[11],"$59,501[11]"
3,Brazil,"209,650,000",2.74%,"8,515,767 km2",0.65,$2.139 trillion[7],"$10,224[7]"
4,Pakistan,"202,169,000",2.64%,"881,913 km2",2.86,$304.4 billion[21],"$1,629[22]"

In [15]:
# Next, we do not need '%' sign in either column 3 or 5, thus, we can strip the cells of it.
dataset['Percentage of World Population']= dataset['Percentage of World Population'].str.strip('%')
dataset['Percentage Water']= dataset['Percentage Water'].str.strip('%')
dataset['Percentage Water'] = dataset['Percentage Water'].str.strip()

In [19]:
#dataset.head(10)
dataset.sample(20)

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
28,Spain,"46,659,302",0.61,"505,990[5] km2",1.04,$1.506 trillion[7],"$32,559[7]"
80,Greece,"10,768,193",0.14,"131,957 km2",0.8669,$226.77 billion[6],"$21,140[7]"
19,France[Note 6],"67,323,000",0.88,"640,679 km2","551,695 km2",$2.583 trillion[7],"$39,869[7]"
76,Benin,"11,362,269",0.15,"114,763 km2",0.4,$9.605 billion[4],$842[4]
123,Bosnia and Herzegovina,"3,511,372",0.046,"51,129 km2",1.4,$18.56 billion[6],"$4,836[6]"
190,San Marino,"33,344",0.00044,61.2 km2,0,$1.55 billion[3],"$44,947[3]"
34,Uganda,"38,823,100",0.51,"241,038 km2",15.39,$26.391 billion[6],$700[6]
26,Kenya,"50,950,879",0.67,"580,367 km2",2.3,$85.980 billion[8],"$1,790[8]"
99,Bulgaria,"7,050,034",0.092,"110,993.6[1] km2",0.3,$55.954 billion[3],"$7,924"
140,Kosovo[Note 17],"1,798,506",0.023,"10,908 km2",1.0[2],$7.73 billion[4],"$4,140[5]"
10,Ethiopia,"107,534,882",1.4,"1,104,300 km2",0.7,$85.664 billion[5],$910[5]
178,Federated States of Micronesia,"105,300",0.0014,702 km2,negligible,$329 million,"$3,400"
125,Puerto Rico,"3,337,177",0.044,"9,104 km2",1.6,$103.676 billion[8],"$30,586[9]"
172,São Tomé and Príncipe,"197,700",0.0026,"1,001[3] km2",Negligible,$355 million[5],"$1,668[5]"
135,The Gambia,"2,163,765",0.028,"10,689 km2",11.5,$1.038 billion[3],$488[3]
3,Brazil,"209,650,000",2.74,"8,515,767 km2",0.65,$2.139 trillion[7],"$10,224[7]"
60,Malawi,"17,931,637",0.23,"118,484 km2",20.6,$6.364 billion[5],$331[5]
42,Afghanistan,"31,575,018",0.41,"652,864[5] km2",negligible,$21 billion[7],$572[7]
120,Croatia,"4,105,493",0.054,"56,594 km2",1.09,$61.056 billion[4],"$14,788[4]"
132,Namibia,"2,413,643",0.032,"825,615 km2",negligible,$11.765 billion[14],"$5,073[14]"

In [20]:
#Next, we remove commas from Population column.
dataset['Population']= dataset['Population'].str.replace(',','')

In [23]:
dataset.head()

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],1394350000,18.2,9596961 km2,2.8%[h],$14.092 trillion[16],"$10,087[16]"
1,India[Note 3],1337630000,17.5,3287263[5] km2,9.6,$2.848 trillion[16],"$2,134[16]"
2,United States[Note 4],327918000,4.28,3796742 sq mi,6.97,$19.390 trillion[11],"$59,501[11]"
3,Brazil,209650000,2.74,8515767 km2,0.65,$2.139 trillion[7],"$10,224[7]"
4,Pakistan,202169000,2.64,881913 km2,2.86,$304.4 billion[21],"$1,629[22]"

Now, we will explore the area column. Initially, we see that the information is represented in two units: sq mi and km2. We need to convert all values to km2.
The formula to convert 'sq mi' to km2 is to multiply the value by 2.58999.
First, we check if the cell has the units as 'sq mi', then we multiply it with 2.589999, convert it to integer and save it back to the cell else we simply convert it into integer. Before this, on taking a closer look at the values, some cells have range of areas and as a result we need to split the data at '-' and then take the first value to continue further.

In [22]:
dataset['Total Area (km2)']= dataset['Total Area (km2)'].str.replace(',','')

In [24]:
for x in range(len(dataset['Total Area (km2)'])):
    area= dataset.iloc[x]['Total Area (km2)']
    if ('sq\xa0mi' in area):
        area = area.split('-')[0]
        area = re.sub(r'[^0-9.]+', '', area)
        area = int(float(area) * 2.58999)
    else:
        area = area.split('-')[0]
        area = re.sub(r'[^0-9.]+', '', area)
        area = int(float(area))
    dataset.iloc[x]['Total Area (km2)'] = area

In [25]:
dataset.head()

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],1394350000,18.2,95969612,2.8%[h],$14.092 trillion[16],"$10,087[16]"
1,India[Note 3],1337630000,17.5,328726352,9.6,$2.848 trillion[16],"$2,134[16]"
2,United States[Note 4],327918000,4.28,9833523,6.97,$19.390 trillion[11],"$59,501[11]"
3,Brazil,209650000,2.74,85157672,0.65,$2.139 trillion[7],"$10,224[7]"
4,Pakistan,202169000,2.64,8819132,2.86,$304.4 billion[21],"$1,629[22]"

Let's analyse the 'Percentage Water' column further. For Algeria, Afghanistan, and some other countries, the value is negligible. Hence, in order to retain data and not drop these rows, we will mark these cells with 0.0. Chile has the character 'b' in the end which needs to be removed. For the columns where the value is more than 100, the actual values were missing and other content has been read instead. Thus, we must remove such rows due to lack of information.

In [37]:
dataset['Percentage Water'].head(50)

0           2.8
1           9.6
2          6.97
3          0.65
4          2.86
5           1.4
6           6.4
7           137
8           0.8
9           2.5
10          0.7
11        0.616
12        0.632
13         6.45
14         3.32
15    828000005
16         7.07
17          1.3
18          0.4
19      5516952
20         1.34
21          2.4
22        0.380
23         6.46
24         3.06
25          0.3
26          2.3
27          8.8
28         1.04
29         1.57
30          0.0
31            7
32    395788283
33          1.1
34        15.39
35         3.07
36         8.92
37        0.056
38          0.7
39          4.9
40          0.3
41          3.2
42          0.0
43         4.61
44          0.0
45          2.8
46          0.0
47          2.2
48        55012
49         4.87
Name: Percentage Water, dtype: object

In [33]:
dataset['Percentage Water']= dataset['Percentage Water'].replace('negligible','0.0')
dataset['Percentage Water'] = dataset['Percentage Water'].str.replace(r'[^0-9.]+', '')
dataset['Percentage Water'] = dataset['Percentage Water'].replace('Negligible', '0.0')

In [43]:
dataset['Percentage Water']= pd.to_numeric(dataset['Percentage Water'], downcast='float')

In [45]:
dataset.head(50)

,Country,Population,Percentage of World Population,Total Area (km2),Percentage Water,Total Nominal GDP,Per Capita GDP
0,China[Note 2],1394350000,18.2,95969612,2.800000e+00,$14.092 trillion[16],"$10,087[16]"
1,India[Note 3],1337630000,17.5,328726352,9.600000e+00,$2.848 trillion[16],"$2,134[16]"
2,United States[Note 4],327918000,4.28,9833523,6.970000e+00,$19.390 trillion[11],"$59,501[11]"
3,Brazil,209650000,2.74,85157672,6.500000e-01,$2.139 trillion[7],"$10,224[7]"
4,Pakistan,202169000,2.64,8819132,2.860000e+00,$304.4 billion[21],"$1,629[22]"
5,Nigeria,193392517,2.53,9237682,1.400000e+00,$376.28 billion[3],"$1,994[3]"
6,Bangladesh,165278000,2.16,14757052,6.400000e+00,$285.817 billion[8],"$1,754[8]"
7,Russia[Note 5],146877088,1.92,170982462,1.370000e+02,$1.719 trillion[9],"$11,946[9]"
8,Japan,126420000,1.65,377973,8.000000e-01,$5.167 trillion[12],"$40,849[12]"
9,Mexico,124737789,1.63,19725502,2.500000e+00,$1.250 trillion[6],"$10,021[6]"
10,Ethiopia,107534882,1.4,11043002,7.000000e-01,$85.664 billion[5],$910[5]
11,Philippines,106540000,1.39,300000452,6.160000e-01,$371.8 billion[8],"$3,541[8]"
12,Egypt,97639400,1.28,101040822,6.320000e-01,$237.073 billion[4],"$2,501[4]"
13,Vietnam,94660000,1.24,33169842,6.450000e+00,$240.779 billion[7],"$2,546[7]"
14,DR Congo,84004989,1.1,23454092,3.320000e+00,$40.415 billion[3],$446[3]
15,Germany,82792400,1.08,3573862,8.280000e+08,$3.685 trillion[6],"$44,550[6]"
16,Iran,81830600,1.07,16481952,7.070000e+00,$438.3 billion[8],"$5,383[8]"
17,Turkey,80810525,1.06,7833562,1.300000e+00,$909 billion[4],"$11,114[4]"
18,Thailand,69183173,0.9,5131202,4.000000e-01,$514.700 billion[11],"$7,588[11]"
19,France[Note 6],67323000,0.88,6406792,5.516952e+06,$2.583 trillion[7],"$39,869[7]"
20,United Kingdom[Note 7],66040229,0.86,2424952,1.340000e+00,$2.624 trillion[10],"$39,734[10]"
21,Italy,60421460,0.79,3013402,2.400000e+00,$2.181 trillion[5],"$35,913[4]"
22,South Africa,57725600,0.75,12210372,3.800000e-01,$371 billion[6],"$6,459[6]"
23,Tanzania[Note 8],54199163,0.71,9473032,6.460000e+00,$55.666 billion[9],"$1,100[9]"
24,Myanmar,53862731,0.7,6765782,3.060000e+00,"$69,322 billion[5]","$1,299[5]"
25,South Korea,51635256,0.67,1003632,3.000000e-01,$1.693 trillion[9],"$32,775[9]"
26,Kenya,50950879,0.67,5803672,2.300000e+00,$85.980 billion[8],"$1,790[8]"
27,Colombia,49970000,0.653,11417482,8.800000e+00,$327.978 billion[4],"$6,581[4]"
28,Spain,46659302,0.61,50599052,1.040000e+00,$1.506 trillion[7],"$32,559[7]"
29,Argentina,44494502,0.58,27804002,1.570000e+00,$625.921 billion[13],"$14,043[13]"
30,Algeria,42545964,0.56,23817412,0.000000e+00,$197.629 billion[7],"$7,669[7]"
31,Ukraine[Note 9],42248129,0.55,6036282,7.000000e+00,$112.154 billion[5],"$2,640[5]"
32,Sudan,40867610,0.53,18860682,3.957883e+08,$138.090 billion[5],"$3,459[5]"
33,Iraq,39339753,0.51,4370722,1.100000e+00,$202.922 billion[2],"$5,091[2]"
34,Uganda,38823100,0.51,2410382,1.539000e+01,$26.391 billion[6],$700[6]
35,Poland,38433600,0.5,31269672,3.070000e+00,$614.190 billion[10],"$16,179"
36,Canada,37239900,0.487,99846702,8.920000e+00,$1.798 trillion[7],"$48,466[7]"
37,Morocco[Note 10],34800600,0.455,7108502,5.600000e-02,$120.997 billion[8],"$3,435[9]"
38,Saudi Arabia,33413660,0.44,214969032,7.000000e-01,$748.003 billion[5],"$22,649[5]"
39,Uzbekistan,32653900,0.43,4489782,4.900000e+00,$40.259 billion[10],"$1,238[10]"
40,Malaysia,32478000,0.424,3308032,3.000000e-01,$364.919 billion,"$11,237"
41,Venezuela,31828110,0.42,9164452,3.200000e+00,$100.845 billion[4],"$3,168[4]"
42,Afghanistan,31575018,0.41,65286452,0.000000e+00,$21 billion[7],$572[7]
43,Ghana,29614337,0.39,2395672,4.610000e+00,$49.226 billion[7],"$1,697[7]"
44,Angola,29250009,0.38,12467002,0.000000e+00,$112.533 billion[2],"$4,101[2]"
45,Nepal,29218867,0.38,1471812,2.800000e+00,$24.067 billion[9],$837[9]
46,Yemen,28915284,0.38,5279682,0.000000e+00,$85.840 billion[4],$ 3066[4]
47,Mozambique,28861863,0.38,8015902,2.200000e+00,$12.345 billion[6],$417[6]
48,Madagascar,26262810,0.34,5870412,5.501200e+04,$10.372 billion[6],$405[6]
49,North Korea,25610672,0.33,1205402,4.870000e+00,$25 billion[9][10],"$1,000[10]"